* {
  font-family: 'Archivo', sans-serif;
  font-size: 1.3rem;
}

.link {
  text-decoration: none;
}

.action-button-edit:hover {
  background: cornflowerblue;
}

.action-button-delete:hover {
  background: rgb(232, 73, 73);
}

.container {
  margin: auto;
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modal {
  position: absolute;
  top: 200px;
  left: 50%;
  width: min-content;
  border-radius: 30px;
  border: 2px solid black;
  padding: 20px;
  background: white;
  font-size: 1rem;
}

.action-buttons {
  display: flex;
  flex-direction: row;
}

.drag_area {
  width: 600px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.image-form {
  border: 2px dashed orange;
  border-radius: 10px;
}

.image-form h2 {
  margin: 10px;
}

.button {
  border-radius: 10px;
  border: 2px solid orange;
  margin: 10px;
}

.button:hover {
  background-color: orange;
  color: white;
}

.preview-area {
  width: 70%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-preview {
  width: 100px;
  object-fit: cover;
}

.submit {
  border-color: green;
}

.submit:hover {
  background-color: green;
  color: white;
}

.active {
  background-color: rgba(255, 166, 0, 0.215);
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.dlt_img_btn {
  border-color: red;
  color: red;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
  position: absolute;
  margin: 0;
  font-size: 0.7rem;
}

.dlt_img_btn:hover {
  background-color: red;
}

.card {
  margin: 20px;
}

.card img {
  width: 200px;
  height: 200px;
  object-fit: scale-down;
}

.paginator {
  justify-self: left;
}